// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-box
{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;  
}

.restaurant-box img
{
  max-height: 254px;
  width: 100%;
}

.restaurant-box .caption
{
  padding: 10px;
}

.nav-pills-center
{
  margin: 15px 0;
  text-align: center;
}

.nav-pills-center > li
{
  float: none;
  display: inline-block;
}