// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// restaurant box

.restaurant-box
{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;  
}

.restaurant-box img
{
  max-height: 254px;
  width: 100%;
}

.restaurant-box .caption
{
  padding: 10px;
}

// pagination

.nav-pills-center
{
  margin: 15px 0;
  text-align: center;
}

.nav-pills-center > li
{
  float: none;
  padding: 0 5px;
  display: inline-block;
}

// commented, following restaurant box

.my-restaurant
{
  border: 0;
  margin: 0;
  padding: 10px;

  opacity: 0.6;
  filter: alpha(opacity=60);

  vertical-align: middle;
  text-align: center;
}

.my-restaurant img
{
  max-height: 170px;
  width: 100%;
  border-radius: 16px;
}

.my-restaurant:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

// users list

.my-followship
{
  border: 0;
  margin: 0;
  padding: 10px;

  vertical-align: middle;
  text-align: center;
}

.my-followship p
{
  margin: 15px;
  font-size: 20px;
}

.my-followship img
{
  width: 70%;
  border-radius: 50%;
}

.profile-followship
{
  border: 0;
  margin: 5px 0;
}

.profile-followship img
{
  width: 15%;
  border-radius: 50%;
}

.profile-followship p
{
  margin-left: 10px;
  display: inline;
}

